@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;&display=swap");

body{
    margin: 5%;
}

#registerContainer{
    width: 410px;
    height: 470px;
    border: none;

    border-radius: 10px;

    box-shadow: 0 0 10px 2px #3333331a;
    margin: auto;
}

#registerheader{
    padding-left: 10px;
    font-family: 'monserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-align:center;
}

.registerhead1{
    padding-left: 20px;
}

.textbox{
    border: 1px solid #F0F2F7;
    border-radius: 10px;

    height: 35px;
    width: 350px;

    font-family: 'monserrat', sans-serif;
    font-size: 15px;

    box-shadow: rgba(199, 207, 214, 0.2) 0px 8px 24px;

    background: #F0F2F7;

    padding:5px;
    padding-left: 10px;
}

input:focus{
        outline: none;
        background: white;
}

label{
    font-family: 'monserrat', sans-serif;
    font-size: 13px;
    color: #3A405B;
    letter-spacing: 2px;
}

.RegisterButton{
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 75%;
    padding: 10px 0;
    margin: 10 px auto;
    border-radius: 12px;
    border: none;
    background: #334CD5;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

button:hover{
    background: #647dfa;
}

button:disabled{
  background: lightgray;
  cursor: not-allowed;
}

.textbox:hover{
    background:white;
    border: 1px solid #F0F2F7;
}
