* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --pure-white: rgb(247, 247, 247);
  --base: #f4f5f7;
  --light-gray: #f0f2f7;
  --light-gray-alt: #e4e7ef;
  --dark-gray: #b9bed1;
  --dark-gray-alt: #a1a6bb;
  --dark-blue: #2a405b;
  --dark-blue-alt: #222328;
  --blue: #3b55e6;
  --blue-alt: #334cd5;
  --yellow: #f3d351;
  --yellow-alt: #ebc63b;
  --aqua: #51dde9;
  --aqua-alt: #04f3fc;
}
body {
  font-family: "montserrat", sans-serif;
  
}

.forgot-container{
  background-image: url(slide1.jpg);
  color: #2a405b;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;

}

.forgot-container::before{
  content: "";
  background-color: #222328b2;
  position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;

}

.background{
  z-index: 1;
}
.bg-cont{
  text-align: center;
  width: 430px;
  background: #1b1b1bb0;
  overflow: hidden;
  border-radius:10px;
}

.bg-cont p{
  color: var(--aqua-alt);
  font-size: 1.3em;
}


.pass {
  width: -webkit-fill-available;
}
.form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  from {
    box-shadow: 0px 0px 10px 2px #3333331a;
  }
  to {
    box-shadow: 0px 0px 4px 1px #7171714d;
  }
}

.textplace, .textplace-1 {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  text-align: left;
  text-indent: 8px;
  border-color: #2a405b30;
  font-weight: 300;
  color: #2a405b;
  box-shadow: 1px 1px 1px #6b6b6bcc, 1px 0px 1px rgb(255 255 255);
}

.textplace-1{
  width: 60%;
}

input:focus {
  outline: none;
  background: var(--light-gray-alt);
}

.button {
  margin-top: 25px;
  margin-left: 78px;
  background-color: #2a405b;
  border: 2px solid white;
  border-radius: 15px;
  padding: 4px;
  color: white;
  width: 80px;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
label {
 
  font-size:13px;
}

#reset-container{
  position: absolute;
  z-index: 100;
  top: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .3);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.reset{
  width: 450px;
  height: 350px;
  background: var(--dark-blue-alt);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.reset p{
  color:var(--light-gray-alt);
}

.reset-input{
  padding-top: 2em;
  width: 60%;
}

#close{
  padding: 5px 7px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: ease .3s;
}

#close i{
  color:var(--light-gray-alt);
}




#close:hover i, #close:focus{
  background: rgba(0, 0, 0, .3);
  border-radius: 50%;
  color: var(--aqua-alt);
}

input[type=submit] {
  margin-top: 15px;
  background-color:var(--aqua);
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  color: var(--dark-blue-alt);
}

input[type=submit]:hover {
  background-color: var(--aqua-alt);

}

form i {
  position: absolute;
  padding: 10px;
}

.far {
  margin-left: -35px;
  cursor: pointer;
}

input[type=submit]:disabled{
  background: var(--light-gray-alt);
  cursor: not-allowed;
}

.footer {
  position: relative;
  width: -webkit-fill-available;
  overflow: hidden;
  bottom: 0;
  padding: 40px 0;
  background-color: var(--light-gray);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--dark-blue-alt);
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid var(--light-gray-alt);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75px;
}

.footer .social a:hover {
  opacity: 0.9;
  color: #08bfc5;
  transition: all ease-in-out 0.2s;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .list li a:hover {
  color: #08bfc5;
  transition: all ease-in-out 0.2s;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--dark-blue);
}