@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap");
:root {
    --pure-white: rgb(247, 247, 247);
    --base: #f4f5f7;
    --light-gray: #f0f2f7;
    --light-gray-alt: #e4e7ef;
    --dark-gray: #b9bed1;
    --dark-gray-alt: #a1a6bb;
    --dark-blue: #2a405b;
    --dark-blue-alt: #222328;
    --blue: #3b55e6;
    --blue-alt: #334cd5;
    --yellow: #f3d351;
    --yellow-alt: #ebc63b;
    --aqua: #51dde9;
    --aqua-alt: #04f3fc;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  

}
body{

    background: var(--light-gray-alt);
}
.sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 260px;
  background: var(--dark-blue-alt);
  border-radius: 10px 10px 0 0 ;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar .bottom{
    position: fixed;
    bottom: 0;
}


.sidebar.down .logo-details i{
    display: none;
}

.sidebar{
    display: block;
}
.sidebar.show1{
    display: none;
}
.sidebar.down{
    height: 5%;
    width: 78px;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details i:hover{
    color: var(--aqua-alt);
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a .link_name:hover,
.sidebar .nav-links li .sub-menu a:hover,
.sidebar .nav-links li:hover{
  background: #2d2f35;
  color: var(--aqua-alt);
 
}
.sidebar .nav-links li a:hover{
    color: var(--aqua-alt);
   
  }
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li i:hover{
    color: var(--aqua-alt);
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: var(--dark-blue-alt);
  display: none;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
  padding-left: 1em;
  
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}


.sidebar .profile-details .job{
  font-size: 12px;
}





.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}


/* ------------- home section ----------*/
.home-section{
  position: relative;
  background: var(--light-gray-alt);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.prof_container{
  
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile_section{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 13em;
  background-color: #11111109 ;
  border-radius:20px;
  padding:4em;
  width: 40%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  
}

.img-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height:200px;
  width:200px;
}

.img-section img{
  transform: scaleX(-1);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
 
}
.img-section span{
  position: absolute;
  right:22px;
  bottom: 30px;
  background: var(--aqua);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue-alt);
  box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
  cursor: pointer;

}
.prof_container .input-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}
.input-section .input-content{
  border-spacing: 0px 20px;
  border-collapse: separate; 

}
.input-section .input-content tr{
  background-color: var(--light-gray-alt);
 
}
.input-section .input-content td{
  border: none;
  padding:20px;
  font-size: 14px;
}
.input-section .input-textbox{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
}
.input-section .input-content td label{
  margin-left:2em;
}
.input-section .input-content .col-3{
  display: flex;
  flex-direction: row; 
}

.input-section .input-content .col-3 i{
 font-size: 17px;
}

.input-section .input-content .col-3 i:hover{
  color:#00bac0;
  cursor: pointer;
}


/*WALLET CSS*/

.wallet-alp{
  margin: auto;
  width: 600px;
  border-spacing: 0;
}

.wallet-alp, .wallet-alp tr, .wallet-alp td{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.wallet-alp tr:nth-child(2){
  height: 40px;
  padding: 50px;
  background-color: #e4e7ef;
}

.wallet-alp td{
  padding: 10px;
}

h4, .username{
  margin-left: 230px;
  font-size: 15px;
  color: #222328;
  padding: 0;
}

.ALP, .USD{
  font-size: 15px;
  color: #a1a6bb;
  display: inline-table;
}

#cash-in_button{
  float: right;
  border: 1px solid #334cd5;
  border-radius: 10px;
  background-color: #334cd5;
  color: white;
  padding: 10px;
  margin-right: 30px;

}

#cash-in_button:hover{
  background-color: #3b55e6;
  cursor: pointer;
}


.icon-1{
  font-size: 130px;
  float:left;

  position: relative;
  padding: 10px;

  color: #222328;

  margin-left: 30px;

}

.icon-2{
  color: #ebc63b;

  border-radius: 30px;
  font-size: 25px;
  display: inline-table;
}

.wallet-balance{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/*WALLET CSS*/


@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}


