.check-container{
  margin: 30px auto;
  width: fit-content;
}

.check-es{
  position: relative;
  height: 150px;
  width: 150px;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  border-left-color: #5cb85c;
  animation: rotate 1.2s linear infinite;
} 
@keyframes rotate {
  50%{
    border-left-color: #9b59b6;
  }
  75%{
    border-left-color: #e67e22;
  }
  100%{
    transform: rotate(360deg);
  }
}
label .check-icon{
  display: none;
}
label .check-icon:after{
  position: absolute;
  content: "";
  top: 50%;
  left: 19%;
  transform: scaleX(-1) rotate(135deg);
  height: 79px;
  width: 42px;
  border-top: 4px solid #5cb85c;
  border-right: 4px solid #5cb85c;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
}
@keyframes check-icon {
  0%{
    height: 0;
    width: 0;
    opacity: 1;
  }
  20%{
    height: 0;
    width: 42px;
    opacity: 1;
  }
  40%{
    height: 79px;
    width: 42px;
    opacity: 1;
  }
  100%{
    height: 79px;
    width: 42px;
    opacity: 1;
  }
}
.check-container input[type=checkbox]{
  display: none;
}
.check-container input:checked ~ label .check-icon{
  display: block;
}
.check-container input:checked ~ label{
  animation: none;
  border-color: #5cb85c;
  transition: border 0.5s ease-out;
}
